<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/icon/favicon.ico">
    <title>Rockway Massage Therapy</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap-3.3.1/css/bootstrap.min.css" type='text/css'>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
	<script src="assets/js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="assets/js/html5shiv.min.js"></script>
          <script src="assets/js/respond.min.js"></script>
        <![endif]-->
	<script>
	// Dynamic sections
	// ["team"], ["contact"], ["services"], ["plans"], ["portfolio"], ["clients"], ["blog-list"]
	var sections = [["plans"], ["services"]];
//	sections = [ ["team"], ["services"], ["portfolio"], ["clients"], ["blog-list"]  ];
	</script>
    </head>
<!--[if IE ]>
   <body class="ie">
<![endif]-->
<!--[if !IE]>-->
   <body>
<!--<![endif]-->
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- Fixed navbar -->
<div class="navbar main-menu navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="" title="logo"><img src="assets/images/logo.png" alt="logo" /></a> </div>
    <div class="navbar-collapse collapse" id="TopHead">
      <ul class="nav navbar-nav navbar-right" id="menu">
        <li id="mHome"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#slider">Home</a></li>
        <li id="mabout"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#about">About Us</a></li>
        <li id="mteam" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#team">Team</a></li>
        <li id="mservices" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#services">Services</a></li>
        <li id="mplans" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#plans">Pricing</a></li>
        <li id="mportfolio" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#portfolio">Portfolio</a></li>
   	<li id="mclients" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#clients">Our Clients</a></li>
        <li role="presentation" class="dropdown" id="mblog-list" data-hide="true">
        	<a href="index.html#blog-list" data-scroll data-options="easing: easeOutQuart" data-toggle="dropdown" class="dropdown-toggle hvr-underline-from-left">Blog <b class="caret"></b></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            
        <li id="mcontact" data-hide="true"><a class="hvr-underline-from-left" data-scroll data-options="easing: easeOutQuart" href="index.html#contact">Contact Us</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</div>
<section id="slider">
		<div class="slider-grid">


                <div class="col-md-12 col-sm-12 item">
                      <img src="assets/images/slider/slider-img.jpg" alt="gallery">
                    <div class="text right">
                    	<h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Welcome to <strong>Ygritte</strong> <span>Beauty SPA</span></h2>
                      
                      <a href="#plans" data-scroll class="btn main-btn wow fadeUpRight hvr-sweep-to-right" data-wow-duration="1.3s" data-wow-delay="1.3s"><i class="fa fa-angle-right"></i> Learn more</a>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 item">
                      <img src="assets/images/slider/slider-img-1.jpg" alt="gallery">
                    <div class="text left">
                    	<h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Welcome to <strong>Ygritte</strong> <span>Beauty SPA</span></h2>
                      
                      <a href="#" data-scroll class="btn main-btn wow fadeUpRight hvr-sweep-to-right" data-wow-duration="1.3s" data-wow-delay="1.3s"><i class="fa fa-angle-right"></i> Learn more</a>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 item">
                      <img src="assets/images/slider/slider-img-4.jpg" alt="gallery">
                    <div class="text white right">
                    	<h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Welcome to <strong>Ygritte</strong> <span>Beauty SPA</span></h2>
                      
                      <a href="#" data-scroll class="btn main-btn wow fadeUpRight hvr-sweep-to-right" data-wow-duration="1.3s" data-wow-delay="1.3s"><i class="fa fa-angle-right"></i> Learn more</a>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 item">
                      <img src="assets/images/slider/slider-img-3.jpg" alt="gallery">
                    <div class="text right white">
                    	<h2 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="1s">Welcome to <strong>Ygritte</strong> <span>Beauty SPA</span></h2>
                      
                      <a href="#" data-scroll class="btn main-btn wow fadeInUp hvr-sweep-to-right" data-wow-duration="1.3s" data-wow-delay="1.3s"><i class="fa fa-angle-right"></i> Learn more</a>
                    </div>
                </div>


            </div>
				
</section>
<section id="about">
	<div class="container">
        <div class="row">
            	<h2 class="heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">About us</h2>
                <div class="separator_wrapper wow bounceIn" data-wow-duration="0.7s" data-wow-delay="0.7s">
                        <div class="separator_first_circle">
                        <img src="assets/images/green-flower.png" alt="green flower">
                        </div>
                    </div>
                <p class="helping-text wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque.</p>
                
                <div class="col-md-6 col-sm-12 text-left wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">
                <h3>Welcome to our Spa</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque. Proin nec tortor a velit varius luctus sed ut mauris. Nulla eget ornare nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean blandit erat magna, sit amet accumsan nisl condimentum ac.</p>
                <p>Duis accumsan arcu non risus sagittis, non pharetra urna pellentesque. Duis sed mauris efficitur, imperdiet lacus vel, rutrum tellus. Maecenas in quam nec libero dignissim pretium eu sit amet arcu. Sed at feugiat nulla. Integer arcu lacus, sodales at vestibulum egestas, consequat iaculis felis. </p>
                <p>Donec vulputate et nisl a scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ut facilisis nisl. Nullam eros arcu, imperdiet eget magna sit amet, condimentum aliquet erat. Curabitur metus nunc, varius eu velit et, lobortis consequat nisl. In dapibus mi dolor, eget ornare ligula consectetur ut. Morbi mi justo, interdum sit amet orci nec, molestie varius turpis. </p>
				<ul class="list-unstyled arrow-list">
				  <li><i class="fa fa-chevron-circle-right"></i> Lorem ipsum dolor sit amet</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Consectetur adipiscing elit</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Integer molestie lorem at massa</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Facilisis in pretium nisl aliquet</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Faucibus porta lacus fringilla vel</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Aenean sit amet erat nunc</li>
				  <li><i class="fa fa-chevron-circle-right"></i> Eget porttitor lorem</li>
				</ul>
				
                </div>
				<div class="col-md-6 col-sm-12 wow bounceIn" data-wow-duration="0.9s" data-wow-delay="0.9s">
                
					<div class="circle-img green">
                    	<img src="assets/images/about-img-1.png" class="hvr-rotate" alt=" green ">
                    </div>
                    <div class="circle-img blue">
                    	<img src="assets/images/about-img-2.png" class="hvr-rotate" alt=" blue ">
                    </div>
              </div>
		</div>
    </div>
    <div class="stats" id="stats" data-hide="true">
    </div>
</section>
<section id="team" data-hide="true">
</section>
<section id="services" data-hide="true">
</section>    
<section id="plans" data-hide="true">
</section>
<section id="portfolio" data-hide="true">
</section>
<section id="booking" data-hide="true">
</section>        
 <section id="clients" data-hide="true">
</section>
<section id="blog-list" data-hide="true">
</section>
<section id="contact" data-hide="true">
</section>
<section class="map" title="Click for larger map">
<a href="https://www.google.ca/maps/place/Rockway+Massage+Therapy/@43.4430595,-80.4721246,16.25z/data=!4m5!3m4!1s0x0:0x6b4c5efdd00f647c!8m2!3d43.4409546!4d-80.4722571"> <div id="contact_map">&nbsp;
	</div></a>
</section>       

   
<footer>
	<div class="container">
    	<ul class="list-inline social">
          <li class="wow bounceIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><a href="#"><img src="assets/images/social-icons/facebook.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="0.6s" data-wow-delay="0.6s"><a href="#"><img src="assets/images/social-icons/twitter.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="0.7s" data-wow-delay="0.7s"><a href="#"><img src="assets/images/social-icons/googleplus.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s"><a href="#"><img src="assets/images/social-icons/flickr.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="0.9s" data-wow-delay="0.9s"><a href="#"><img src="assets/images/social-icons/linkedin.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="1s" data-wow-delay="1s"><a href="#"><img src="assets/images/social-icons/vimeo.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="1.1s" data-wow-delay="1.1s"><a href="#"><img src="assets/images/social-icons/youtube.png" alt="green flower"></a></li>
          <li class="wow bounceIn" data-wow-duration="1.2s" data-wow-delay="1.2s"><a href="#"><img src="assets/images/social-icons/sharethis.png" alt="green flower"></a></li>
        </ul>
    </div>
    <div class="foot-line">
    	<p>&copy; 2015 Ygritte PSD Template. Designed by <a href="#"><strong>CreativeMonkie.</strong></a></p>
    </div>
</footer>
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>


    <!-- Bootstrap core JavaScript
        ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="assets/js/jquery-1.11.2.min.js"></script>
	<!-- bootstrap -->	
    <script src="assets/plugins/bootstrap-3.3.1/js/bootstrap.min.js"></script>
    
    <!-- smooth scrolling -->
    <script src="assets/plugins/smooth-scroll/smooth-scroll.js"></script>
    <!-- isotope -->
    <script src="assets/plugins/isotope/jquery.isotope.min.js"></script>
    <!-- wow -->
    <script src="assets/plugins/wow/wow.min.js"></script>
    
    <!-- hcaptions -->
    <script src="assets/plugins/hcaptions/jquery.hcaptions.js"></script>
    
    <!-- prettyPhoto -->
    <script src="assets/plugins/prettyPhoto/jquery.prettyPhoto.js"></script>
	
    <!-- owl-carousel -->
	<script src="assets/plugins/owl-carousel/owl.carousel.js"></script>
	
	<!-- animateNumber -->
	<script src="assets/plugins/animateNumber/jquery.appear.js"></script>
	<script src="assets/plugins/animateNumber/jquery.animateNumber.min.js"></script>
	
    <!-- Form Validation -->
    <script src="assets/plugins/jquery-validate/jquery.validate.min.js"></script>
    
    <!-- custom -->
    <script src="assets/js/app.js"></script>
</body>
</html>
