		<div class="container">
    	<div class="row">
                <h2 class="heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Our Portfolio</h2>
                <div class="separator_wrapper wow bounceIn" data-wow-duration="0.7s" data-wow-delay="0.7s">
                        <div class="separator_first_circle">
                        <img src="assets/images/green-flower.png" alt="green flower">
                        </div>
                    </div>
                <p class="helping-text wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque.</p>
         	</div>
     	</div>
        <div class="container">
        	<div class="row">
    	<div class="col-md-12">



                    <ul class="portfolio-filter wow bounceIn" data-wow-duration="0.8s" data-wow-delay="0.8s">
                            <li><a class="btn active margin-5" href="#" data-filter="*">All</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".face">Face</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".foot">Foot</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".bodys">Body</a></li>
                            <li><a class="btn margin-5" href="#" data-filter=".massages">Massages</a></li>
                        </ul>



        </div>
    </div>
    	</div>
<div class="portfolio-grid">



                    <ul class="portfolio-items col-4">



                        <li class="portfolio-item massages">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio12.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio12.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                       
                        <li class="portfolio-item  bodys">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio13.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio13.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item  face ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio3.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio3.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item foot">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio4.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio4.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item foot">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio5.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio5.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item massages bodys">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio2.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio2.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item massages">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio7.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio7.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <li class="portfolio-item massages">
                           <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="assets/images/portfolio/thumbs/portfolio8.jpg" alt="">
                                    <div class="overlay">
                                        <a class="preview btn" title="Image Title Here" href="assets/images/portfolio/portfolio8.jpg"><i class="fa fa-arrows-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>



                         
                    </ul>
</div>        
