	<div class="container">
    <div class="row">
    	<h2 class="heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Services</h2>
                <div class="separator_wrapper wow bounceIn" data-wow-duration="0.7s" data-wow-delay="0.7s">
                        <div class="separator_first_circle">
                        <img src="assets/images/green-flower.png" alt="green flower">
                        </div>
                    </div>
                <p class="helping-text wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque.</p>
          <div class="services-grid">      




         		<div class="col-md-6 col-sm-12 services-box wow right-padding-none fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 right-padding-none">
                        	<div class="img-wrap">
                      			<a href="#"><img src="assets/images/services/services-1.jpg" alt="services-1"></a>
                      		</div>
                        </div>
                        <div class="col-md-6 col-sm-6 left-padding-none">
                        	<div class="services-wrap">
                        	<div class="services-caption">
                      			<h3><a href="acupuncture.html">Acupuncture</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                <a href="acupuncture.html" class="btn main-btn hvr-sweep-to-right small-btn"><i class="fa fa-angle-right"></i> Learn more</a>
                                
                      		</div>
                            </div>
                        </div>
                    </div>
                 </div>




                <div class="col-md-6 col-sm-12 services-box left-padding-none wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 right-padding-none">
                        	<div class="img-wrap">
                      			<a href="#"><img src="assets/images/services/services-2.jpg" alt="services-1"></a>
                      		</div>
                        </div>
                        <div class="col-md-6 col-sm-6 left-padding-none">
                        	<div class="services-wrap">
                        	<div class="services-caption">
                      			<h3><a href="#">Aromatherapy</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                <a href="#" class="btn main-btn hvr-sweep-to-right small-btn"><i class="fa fa-angle-right"></i> Learn more</a>
                                
                      		</div>
                            </div>
                        </div>
                    </div>
                 </div> 




                <div class="col-md-6 col-sm-12 services-box right-padding-none wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 right-padding-none">
                        	<div class="img-wrap">
                      			<a href="#"><img src="assets/images/services/services-3.jpg" alt="services-1"></a>
                      		</div>
                        </div>
                        <div class="col-md-6 col-sm-6 left-padding-none">
                        	<div class="services-wrap">
                        	<div class="services-caption">
                      			<h3><a href="#">Skin Care</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                <a href="#" class="btn main-btn hvr-sweep-to-right small-btn"><i class="fa fa-angle-right"></i> Learn more</a>
                                
                      		</div>
                            </div>
                        </div>
                    </div>
                 </div>




                <div class="col-md-6 col-sm-12 services-box left-padding-none wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 right-padding-none">
                        	<div class="img-wrap">
                      			<a href="#"><img src="assets/images/services/services-4.jpg" alt="services-1"></a>
                      		</div>
                        </div>
                        <div class="col-md-6 col-sm-6 left-padding-none">
                        	<div class="services-wrap">
                        	<div class="services-caption">
                      			<h3><a href="#">Massages</a></h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                <a href="#" class="btn main-btn hvr-sweep-to-right small-btn"><i class="fa fa-angle-right"></i> Learn more</a>
                                
                      		</div>
                            </div>
                        </div>
                    </div>
                 </div> 




           </div>     
    </div>
    </div>
