	<div class="container">
    	<div class="row">
        	<h2 class="heading wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">our team of experts</h2>
                <div class="separator_wrapper wow bounceIn" data-wow-duration="0.7s" data-wow-delay="0.7s">
                        <div class="separator_first_circle">
                        <img src="assets/images/green-flower.png" alt="green flower">
                        </div>
                    </div>
                <p class="helping-text wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque.</p>




                <div class="members-grid">



                	<div class="col-md-3 col-sm-6 ">
                		<div class="thumbnail wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                        	<div class="img-wrap hvr-rotate">
                      			<a href="#" class="hvr-reveal"><img src="assets/images/members/member-1.jpg" alt="member-1"></a>
                      		</div>
                      <div class="caption">
                        <h3>Anna</h3>
                        <h4>Massage Treatments</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque. Proin nec tortor a velit varius luctus sed ut mauris. </p>
                        <ul class="list-inline social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                	</div>



                    <div class="col-md-3 col-sm-6">
                		<div class="thumbnail wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay="0.9s">
                        	<div class="img-wrap hvr-rotate">
                      			<a href="#" class="hvr-reveal"><img src="assets/images/members/member-2.jpg" alt="member-1"></a>
                      		</div>
                      <div class="caption">
                        <h3>Julie</h3>
                        <h4>Spa Treatments</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque. Proin nec tortor a velit varius luctus sed ut mauris. </p>
                        <ul class="list-inline social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                	</div>



                    <div class="col-md-3 col-sm-6">
                		<div class="thumbnail wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
                        	<div class="img-wrap hvr-rotate">
                      			<a href="#" class="hvr-reveal"><img src="assets/images/members/member-3.jpg" alt="member-1"></a>
                      		</div>
                      <div class="caption">
                        <h3>Maria</h3>
                        <h4>Herbal Spa</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque. Proin nec tortor a velit varius luctus sed ut mauris. </p>
                        <ul class="list-inline social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                	</div>



                    <div class="col-md-3 col-sm-6">
                		<div class="thumbnail wow fadeInRight" data-wow-duration="0.9s" data-wow-delay="0.9s">
                        	<div class="img-wrap hvr-rotate">
                      			<a href="#" class="hvr-reveal"><img src="assets/images/members/member-4.jpg" alt="member-1"></a>
                      		</div>
                      <div class="caption">
                        <h3>Daphne</h3>
                        <h4>Aromatherapy</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas, lorem ut suscipit facilisis, nisi neque commodo quam, non pretium dui arcu varius neque. Proin nec tortor a velit varius luctus sed ut mauris. </p>
                        <ul class="list-inline social">
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                      </div>
                    </div>
                	</div>



                </div>
        </div>
    </div>
